<div class="columns is-flex-is-align-items-stretch">
        <div class="column is-3">
            <div class="card">
                <div class="card-header ml-2">
                    <p class="card-header-title">Location</p>
                </div>
                <div class="card-content">
                    <p>Name : {{poi.location}}</p>
                    <p>Latitude : {{poi.lat}}</p>
                    <p>Longitude : {{poi.long}}</p>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card">
                <div class="card-header ml-2">
                    <p class="card-header-title" >Type</p>
                </div>
                <div class="card-content">
                    <p>Geosite type : {{poi.type}}</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-header ml-2">
                    <p class="card-header-title">Description</p>
                </div>
                <div class="card-content">
                    <p>{{poi.description}}</p>
                </div>
            </div>
        </div>
</div>


